body{
  margin: 0;
  padding: 0;
  background-image: url('../public/images/bg.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 100vh;
}
.main_content{
  
  display: flex;
  width: 100%;
  flex-direction: column;
}
.header_main{
  display: flex;
  justify-content: center;
  width: 100%;
}

.css-b62m3t-container{
  padding: 2em;
  width: 50%;
}
.result{
  display: flex;
  padding: 1em;
  align-self:flex-start;
  flex-direction: column;


}
.temp{
  font-size: 4rem;
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.desc{
  margin: 1em 0 0 0;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.state_img{
  width: 40%;
  height: 30vh;
}